{% extends 'base.html' %}
{% block head %}
<title>Photo</title>
{% endblock %}
{% block body %}
<div class="content">
    <img src="{{ photo.url }}" height="640">
    <form action="/add_tag/{{ photo.id }}" method="POST">
        <div>
            <input type="submit" value="Furry" name="tag">
            рисунки и фото с животными, особенно антропоморфными <a href="/gallery?tag=Furry">Примеры</a>
        </div>
        <div>
            <input type="submit" value="Anime" name="tag">
            рисунки с людьми, кроме реализма, особенно похожие на стиль в аниме
            <a href="/gallery?tag=Anime">Примеры</a>
        </div>
        <div>
            <input type="submit" value="Photo" name="tag">
            фото с людьми, особенно те, где хорошо видно лицо
            <a href="/gallery?tag=Photo">Примеры</a>
        </div>
        <div>
            <input type="submit" value="Other" name="tag">
            то, что не подходит к остальным категориям
            <a href="/gallery?tag=Other">Примеры</a>
        </div>
    </form>
</div>
<div>
    <a href=""></a>
</div>
{% endblock %}
